<div class="dadosPessoaisCliente">
    <form class="form form__dadosPessoais">
        <p class="title">Cadastro</p>
        <p class="message">Dados Pessoais do cliente:</p>
        <div class="flex">
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Nome</span>
            </label>

            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Sobrenome</span>
            </label>
        </div>

        <div class="flex2">
            <label>
                <input required="" placeholder="" type="tel" class="input">
                <span>CPF</span>
            </label>

            <label>
                <input required="" placeholder="" type="tel" class="input">
                <span>Nascimento</span>
            </label>
        </div>
        <div class="submit">
            <button class="submit__avancar">Avançar</button>
            <button class="submit__cancelar">Cancelar</button>
        </div>
    </form>
</div>