<main>
    <section class="section-two">
     
        <p>
            <img ngSrc="logoPug.png" width="577" height="500" priority >
        </p>
    </section>
<section class="section-One">
    
        <div class="container-Login">       
            <div class="form-box">
                <form class="form">
                    <span class="title">Sign up</span>
                    <span class="subtitle"
                    >Create  account with your email.</span
                    >
                    <div class="form-container">
                        <input type="text" class="input" placeholder="Full Name" />
                        <input type="email" class="input" placeholder="Email" />
                        <input type="password" class="input" placeholder="Password" />
                    </div>
                    <button>Sign up</button>
                </form>
                <div class="form-section">
                    <p>Have an account? <a href="">Log in</a></p>
                </div>
            </div>
        </div>

 
</section>
</main>
